.exchange-block, .stock-block{
  width: 50%;
  display: inline-block;
  vertical-align:top;

  @media screen and (max-width: 767px){
    width: 100%;
  }
}
.stock-block{
  width: 50%;
}
.depth-chart{
  width: 100% !important;
}
.exchange-block .main-column .holder{
  height: auto;
}
.order-drop{
  width: 100% !important;
  height: 50px;
  border: 1px solid  #3cb46d !important;
  text-align: right;
  .item{
    min-height: 59px;
    border-bottom: 1px solid rgba(0,0,0,0.4) !important;
    img{
      width: 35px !important;
      height: 35px !important;
      max-height: none !important;
    }
    &:hover{
      background: none !important;
    }
  }
  .text{
    font-size: 13px;
    font-weight: bold;
    @media screen and (max-width: 767px) {
      font-size: 8px;
    }

    @media screen and (max-width: 1024px){
      font-size: 7px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1370px){
      font-size: 12px;
    }

    @media screen and (min-width: 1700px) and (max-width: 1920px){
      font-size: 16.5px !important;
    }
  }
}
.dropdown.icon{
  //display: none;
}
.ui.selection.dropdown .menu {
  @media screen and (max-width: 767px){
    max-height: 300px!important;
  }

  @media screen and (max-width: 768px){
    max-height: 350px;
  }
  @media screen and (max-width: 2280px){
    max-height: 400px;
  }
  @media screen and (min-width: 2281px){
    max-height: 1000px;
  }
}

.ui.selection.dropdown .menu > .item{
  font-size: 10px;
  font-weight: bold;
  padding-left: 8px !important;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;


  @media screen and (max-width: 767px ){
    font-size: 8px;
  }

  @media screen and (min-width: 767px) and (max-width: 1023px){
    font-size: 12px;
  }
}

.order-wrap{
  position: relative;
  @media screen and (max-width: 767px){
    margin-top: 15px;
  }
  //background-color: #0d71bb;
  img.top-image{
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 2px 0 0 2px;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;

  }
}
.order-wrap:last-child{
  background-color: #fff;
  border: 1px solid #3cb46d;
  border-radius: 3px 3px;
  .order-drop{
    border-color: rgb(8, 181, 229);
  }
  p{
    position: absolute;
    left: 20%;
    bottom: 7%;
    @media screen and (max-width: 767px){
      left: 40%;
      bottom: 31%;
      font-size: 8px;
    }

    p{
      position: relative;
      bottom: 0;
      font-size: 12px;
      margin-left: -25px;
    }
  }
}
.ui.fluid.selection.order-drop.dropdown{
  background-color: #fff;
  text-align: end;
  .text{
    width: 84%;
    color: #2e3032;
    text-align: right;
    line-height: 1;
    font-size: 12px;
  }
}

.exchange-block{

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .offers-main, .offers-main-form{
    .holder{
      padding: 0;
      border: 1px solid transparent;
    }
  }
  .offers-main-form{
    .holder{
      //padding: 0;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
    .fields{
        display: block !important;
    }
    .buy-form, .sell-form{
      .ui.form .fields>.field:first-child{
        text-align: center;
      }
      width: 50%;

      @media screen and (max-width: 767px) {
        width: 100%!important;
      }
      //display: inline-block;
      //float: left;
      padding-left: 10px;
      vertical-align: top;
      .exchange-form {
        display: block;
        width: 100% !important;
        margin-bottom: 10px;
      }
      .field{
        margin-bottom: 10px;
        &:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }
        label{
          float: left;
        }
        input[type=number]{
          float: right;
          padding-right: 40px !important;
        }
      }
      .field>label{
        float: left;
        display: inline-block !important;
        padding-top: 7px;
        &:after{
          display: none !important;
        }
      }
      input[type=number]{
        width: 80%;
        line-height: 35px !important;
        padding: 0 15px !important;
      }
    }
    .sell-form{
      width: 50%;
      display: inline-block;
      float: right;
      padding-left: 1rem;
      .exchange-form{
        .field>label{
          float: left;
          display: inline-block !important;
          padding-top: 7px;
          &:after{
            display: none !important;
          }
        }
        button{
          background-color: #d43d3d !important;
          border: 2px solid #d43d3d !important;
          &:hover{
            background-color: rgba(212, 61, 61, 0.8) !important;
          }
        }
        input[type=number]{
          width: 80% !important;
          line-height: 35px !important;
          padding: 0 15px !important;
          padding-right: 40px !important;
        }
      }
      //vertical-align: top;
    }
    .buy-form{
      padding-right: 1rem;
    }
  }
}
.balances-container{
  .exchange-block{
    .field{
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
    }
  }
}

.buy-form, .sell-form{
  .price-form-amount, .price-form-price{
    display: inline-block;
    font-size: 13px;
    color: green;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
    & + .field{
      &:before{
        display: none !important;
      }
    }
  }
  .twelve{
    .field{
      position: relative;
      &:before{
        content: "XLM";
        display: inline-block;
        font-size: 13px;
        color: green;
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 1;
      }
    }
    .field:first-child{
      &+div{
        &:before{
          display: none;
        }
      }
    }
  }

}

#PriceChart{
  width: 100% !important;
  height: 423px;
  .highcharts-container{
    z-index: 9!important;
  }
  &> div{
    width: 100% !important;
  }
  svg.highcharts-root{
    width: 100% !important;
  }
}
.PriceChartChunk{
  width: 100% !important;
  height: 443px;
  position: relative;
  .sweet-loading{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    .css-qilxis{
      position: absolute;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
  }
}
.depth-chart{
  width: 100% !important;
  height: 300px;
}
.amcharts-chart-div{
  width: 100% !important;
  svg{
    width: 100% !important;
  }
}
.order-book{
  .column{
    .row{
      .column{
        //width: 36%!important;
      }
    }
  }
}
.OfferTable__row__item{
  font-family: sans-serif, "MuseoSansCyrl" !important;
  font-weight: normal;
  font-size: 9px;
}
.OfferTable__row__item{
  padding: 2px 8px 2px 2px !important;
}
.sweet-loading{
  text-align: center;
  padding: 30px 0;
}
.balances-container .ui.small.table{
  //min-height: 150px;
  //height: 100%;
  .sweet-loading{
    width: 100%;
    position: absolute;
  }
}
.panel-tabs{
  margin-top: -3px;
}

.order-wrap{
  position: relative;
  z-index: 9;
}
.pages-container{
  .panel-title{
    margin-top: 20px !important;
  }
}

.order-book{
  & > .ui.two.column.grid{
    & > .row{
      position: relative;
      &:after{
        content: '';
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 6px;
        border: 1px solid rgba(0,0,0,0.5);
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  //.order-book{
    .OfferTables{
      .island__sub__division{
        width: 0;
        &:first-child{
          .OfferTable__header{
            .OfferTable__header__item.OfferTable__cell--amount,
            .OfferTable__header__item.OfferTable__cell--price{
              width: 50%;
            }
            .OfferTable__header__item.OfferTable__cell--amount{
              text-align: left;
              padding-left: 15px;
            }
            .OfferTable__header__item.OfferTable__cell--price{
              text-align: right;
              padding-right: 10px;
            }
          }
          .OfferTable__table{
            .OfferTable__row__item.OfferTable__cell--amount,
            .OfferTable__row__item.OfferTable__cell--price{
              width: 50%;
            }
            .OfferTable__row__item.OfferTable__cell--amount{
              padding-left: 15px !important;
              text-align: left;
            }
            .OfferTable__row__item.OfferTable__cell--price{
              padding-right: 10px!important;
              text-align: right;
            }
          }
          & + div.island__sub__division{
            .OfferTable__header{
              .OfferTable__header__item.OfferTable__cell--amount,
              .OfferTable__header__item.OfferTable__cell--price{
                width: 50%;
              }
              .OfferTable__header__item.OfferTable__cell--amount{
                text-align: right;
                padding-right: 10px;
              }
              .OfferTable__header__item.OfferTable__cell--price{
                text-align: left;
                padding-left: 15px;
              }
            }
            .OfferTable__table{
              .OfferTable__row__item.OfferTable__cell--amount,
              .OfferTable__row__item.OfferTable__cell--price{
                width: 50%;
              }
              .OfferTable__row__item.OfferTable__cell--amount{
                padding-right: 10px !important;
                text-align: right;
              }
              .OfferTable__row__item.OfferTable__cell--price{
                padding-left: 15px!important;
                text-align: left;
              }
            }
          }
        }
      }
      .OfferTable__header{
        .OfferTable__header__item.OfferTable__cell--amount,
        .OfferTable__header__item.OfferTable__cell--price{
          width: 50%;
        }
      }
    }
  //}
}

//sell/buy form responsive
.exchange-block{
  .OfferTable__header{
    border-radius: 6px 6px 0 0;
  }

}
@media screen and (min-width: 768px) {
  table.recent-table{
    thead {
      tr {
        display: block;
        position: relative;
      }
    }
    tbody {
      display: block;
      overflow: auto;
      width: 100%;
      max-height: 199px;
      &::-webkit-scrollbar-button {
        //background-image: url('');
        background-repeat: no-repeat;
        width: 5px;
        height: 0px;
      }
      &::-webkit-scrollbar-track {
        background-color: #ecedee;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #3bb46c;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #3bb46c;
      }
      &::-webkit-resizer {
        //background-image: url('');
        background-repeat: no-repeat;
        width: 4px; height: 0px;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
      tr {
        width: 100%;
        display: block;
        td {
          width: 33%;
          padding: 4px 10px 4px 10px;
          display: inline-block;
          vertical-align: top;
          text-align: center !important;
        }
      }
    }
  }
  .exchange-block {
    .buy-form, .sell-form {
      table {
        thead {
          tr {
            display: block;
            position: relative;
          }
        }
        tbody {
          display: block;
          overflow: auto;
          width: 100%;
          max-height: 59px;
          &::-webkit-scrollbar-button {
            //background-image: url('');
            background-repeat: no-repeat;
            width: 5px;
            height: 0px;
          }
          &::-webkit-scrollbar-track {
            background-color: #ecedee;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            background-color: #3bb46c;
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: #3bb46c;
          }
          &::-webkit-resizer {
            //background-image: url('');
            background-repeat: no-repeat;
            width: 4px; height: 0px;
          }
          &::-webkit-scrollbar {
            width: 5px;
          }
          tr {
            width: 100%;
            display: block;
            td {
              width: 33%;
              padding: 4px 10px 4px 10px;
              display: inline-block;
              vertical-align: top;
              text-align: center !important;
            }
          }
        }
      }
    }
  }
  .island__sub__division {
    .OfferTable {
      .OfferTable__table {
        display: block;
        overflow-y: auto;
        width: 100%;
        max-height: 285px;
        &::-webkit-scrollbar-button {
          //background-image: url('');
          background-repeat: no-repeat;
          width: 5px;
          height: 0px;
        }
        &::-webkit-scrollbar-track {
          background-color: #ecedee;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 0px;
          background-color: #3bb46c;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #3bb46c;
        }
        &::-webkit-resizer {
          //background-image: url('');
          background-repeat: no-repeat;
          width: 4px; height: 0px;
        }
        &::-webkit-scrollbar {
          width: 5px;
        }
      }
    }
  }
  .exchange-block .table td:first-child{
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 767px){
  .balances-container .ui.small.table td:last-child {
    text-align: center !important;
  }
}
.balances-container{
  .active-offers-table{
    table.table{
      tbody{
        & > tr{
          td{
            width: 20%;
          }
        }
      }
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-title{
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #201e1f;
}
.form-available{
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #656565;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }