h3 {
  font-size: 20px;
}

.panel-tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;

  .react-tabs {
    &__tab-list {
      list-style: none;
      margin: 0 0 28px;
      padding: 40px 0 0;
      border-bottom: 1px solid #dedede;
      position: relative;
    }
  }
  .tabs-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 30px;
    position: relative;
    flex: 0 0 190px;
    background: #201e1f;
    color: #818181;
    font-size: 14px;
    font-weight: bold;

    @media screen and (max-width: 767px){
      flex: auto;
      padding: 20px 0 20px 0;
      text-align: center;
      z-index: 1;

    }

    li {
      padding: 11px 15px 14px;
      margin: 0 0 10px;
      position: relative;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;

        @media screen and (max-width: 767px){
          width: 6px;
        }
      }



      &.active {
        background: #1a1819;
        color: #fff;

        &:after {
          background: #6fb370;
        }
      }
    }
  }

  .tab-panel {
    flex: 1;
    padding: 15px 20px 40px 25px;
    overflow-y: auto;
  }
}
