h3 {
  font-size: 20px;
}

.panel-tabs {
  display: block;
  position: relative;
  @media screen and (max-width: 767px) {
    /*width: 260px!important;*/
  }

  .react-tabs {
    &__tab-list {
      list-style: none;
      margin: 0 0 28px;
      padding: 40px 0 0;
      border-bottom: 1px solid #dedede;
      position: relative;
      display: flex;
      justify-content: space-between;
      //align-items: center;
    }
  }
  .tabs-list {
    list-style: none;
    margin: 0 0 28px;
    padding: 40px 0 0;
    border-bottom: 1px solid #dedede;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slick-track {
      div {
        padding: 5px 19px !important;
        color: #616060 !important;
        position: relative;
        cursor: pointer;
        text-align: center;
        font-size: 12px;

        &.active {
          border: none;
          box-shadow: none;
          background-color: #fafafa;
          padding: 0;
          color: #3cb46d !important;
          border-color: #3cb46d !important;

          &:after {
            background: #3cb46d;
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          height: 2px;
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url('../../content/assets/images/slider-arrow.png') no-repeat 50% 50%;
    text-indent: -9999px;
    border: none;
    width: 10px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
  }

  .slick-prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }

  .panel-title {
    position: absolute;
    left: 0;
    top: 4px;

    @media screen and (max-width: 767px) {
      top: -10px;

    }
  }

  .react-tabs__tab--selected {
    border: none;
    box-shadow: none;
    background-color: #fafafa;
    padding: 0;
    color: #3cb46d !important;
    border-color: #3cb46d !important;


    &:after {
      background: #3cb46d;
    }
  }
}