.balances-container {
  position: relative;
  @media screen and (max-width: 767px) {
    /*width: 260px!important;*/

    table.ui.celled.striped.table{
      width: 100% !important;
      tbody{
        tr{
          padding-left: 10px;
        }
      }
      .margin-bottom-md{
        margin-bottom: 0 !important;
      }
      tr{
        td{
          display: table-cell !important;
          button{
            width: 110px !important;
            padding: 0 !important;
            line-height: 33px;
            text-align: center;
          }
          &:first-child{
            padding: 0 0 0 0 !important;
            .item-table{
              border-right: none !important;
              line-height: 33px;
              padding: 0 10px 0 15px !important;
              border-radius: 2.3px 0 0 2.3px !important;
            }
            & + td{
              //border: 1px solid #dedede !important;
              min-width: 152px !important;
              width: 100%;
              //border-left: none !important;
              padding: 0 !important;
              .item-table{
                border-left: none !important;
                line-height: 33px;
                border-radius: 0 2.3px 2.3px 0 !important;

              }
              tr{
                padding: 0 !important;
              }
              & + td{
                .item-table{
                  border: none !important;
                }
              }
            }
          }
          img{
            width: 17px !important;
            height: 17px !important;
            position: relative;
            top: 5px;
          }
          .item-table{
            border: 1px solid #dedede !important;
            font-size: 12px !important;
            text-align: left;
          }
        }
      }
    }
  }

  //Recent table style
  .recent-trades-title{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: 0.2px;
    color: #201e1f;
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .exchange-table{
      th:nth-child(odd), th:nth-child(even){
        background-color: #3cb46d !important;
        font-size: 11px !important;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1 !important;
        letter-spacing: normal;
        text-align: center !important;
        color: #ffffff !important;
        padding: 11px !important;
        width: 33%;
        display: inline-block;
      }
    }
  }
  .recent-table {
    width: 100%;
    max-width: 250px;
    //margin-left: 47px;
    th:nth-child(odd), th:nth-child(even){
      background-color: #fafafa !important;
      font-size: 11px !important;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1 !important;
      letter-spacing: normal;
      text-align: center;
      color: #656565 !important;
    }
    tbody{
      td{
       line-height: 1 !important;
        padding: 5px 10px !important;
        font-size: 9px !important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #656565;
        &:first-child{

        }
      }
    }
  }

  .ui.small.table {
    text-align: center;
    margin-bottom: 40px;
    th {
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;

      @media screen and (max-width: 767px) {
        width: 50% !important;
      }
    }

    td {
      padding: 10px;

      @media screen and (max-width: 767px) {
        width: 50% !important;
      }
    }

    th:nth-child(even) {
      background-color: #439e68;
    }
    th:nth-child(odd) {
      background-color: #3cb46d;
    }

    .send-button {
      color: #7c7c7c !important;
    }

    .send-button:hover {
      background-color: #3cb46d !important;
      color: #fff !important;
    }

    .delete-button:hover {
      background-color: red !important;
      color: #fff !important;
    }
  }

  .send-button {
    box-shadow: none !important;
    border: 1px solid #3cb46d;
    padding: 4px 18px 5px !important;
  }
  .delete-button {
    box-shadow: none !important;
    border: 1px solid #d43d3d;
    padding: 7px !important;
  }

  .balances-form {
    margin-bottom: 45px;

    @media screen and (max-width: 600px){
      margin-bottom: 75px;
    }

    .required.five.wide.field {
      padding-right: 0;
      width: auto !important;

      @media screen and (max-width: 600px){
        width: 25% !important;
      }

      input {
        border-radius: unset;
        height: 50px;

        @media screen and (max-width: 767px) {
          border-radius: 4px 0 0 4px;
        }
      }
    }
    .required.twelve.wide.field {
      padding: 0;
      width: auto !important;
      border-left: 0;
      flex-grow: 2;

      @media screen and (max-width: 600px) {
        //flex-grow: 0;
        width: 70% !important;
      }

      input {
        border-radius: unset;
        height: 50px;
        border-left: none !important;

        @media screen and (max-width: 767px) {
          border-radius: 0 4px 4px 0;
        }
      }
    }
    .ui.form .four.wide.field {
      padding: 0;
      width: auto !important;
      margin-right: 7px;

      button {
        background-color: #3cb46d;
        padding: 17px 32px 18px;
        border-radius: 0 4px 4px 0;
        font-size: 14px !important;

        @media screen and (max-width: 600px){
          border-radius: 4px;
          position: absolute;
          top: 72px;
          left: 0;
        }

        &:hover {
          background: #439e68;
        }
      }
    }
  }
}

.item-table{
  text-align:  center;
  font-weight: 500;
  font-size: 15px;
  vertical-align: center;


  img {
    width: 100px !important;
    max-height: none !important;
  }
}
.recent-trades-title + .is-relative{
  width: 215px;
  display: inline-block;
}
.stock-block{
  padding-top: 10px;
}
